@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-outfit: Outfit, sans-serif;
  --color-primary-color: #3a5646;
  --color-primary-shade-5: rgba(58, 86, 70, 0.05);
  --color-primary-shade-10: rgba(58, 86, 70, 0.1);
  --color-secondary-color: #c3f02c;
  --color-secondary-shade-10: rgba(195, 240, 44, 0.2);
  --color-error-color: #ff8181;
  --color-offwhite: #ececec;
  --color-text-color: #121212;

  --breakpoint-m: 444px;
  --breakpoint-mobile: 360px;
  --container-container-width: 1500px;
}

:root {
  --primary-color: #3a5646;
  --secondary-color: #c3f02c;
  --error-color: #ff8181;
  --offwhite: #ececec;
  --primary-opacity: rgba(58, 86, 70, 0.05);
  --primary-opacity-fade: rgba(58, 86, 70, 0.1);

  --text-color: #121212;
  --container-width: 93.75rem; /* 1500px */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-optical-sizing: auto;
    font-style: normal;
    @apply font-outfit text-[clamp(14px,3.721vw,24px)] text-text-color font-normal leading-normal
      text-center bg-[url("/background.png")] bg-top
      bg-no-repeat bg-cover overflow-x-hidden;
  }

  main {
    @apply max-w-full relative mt-[-34rem] flex-center flex-col gap-50 max-md:gap-37.5 bg-white rounded-t-[40px] pt-40 max-sm:pt-25 overflow-hidden;

    /* max-width: 1720px; */
    /* width: 100%; */
    /* max-width: 100vw;

    display: flex;
    position: relative;
    padding-top: 160px;
    flex-direction: column;
    justify-self: center;
    gap: 200px;

    border-radius: 40px 40px 0 0;
    background: white;

    overflow-x: hidden;
    margin-top: -34rem; */

    /* Show up */
    /* box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.05); */
  }

  h1 {
    @apply text-[clamp(24px,7.91vw,100px)] font-bold tracking-[-3px] max-m:tracking-[-1.36px] leading-none;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-color rounded-[2px];
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-color;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-color rounded-[2px];
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-color;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
  }

  /* Show scrollbar only when scrolling */
  .scrollbar-auto {
    @apply overflow-auto;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer components {
  /* .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-violet-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-violet-700);
      }
    }
  } */

  .section {
    @apply max-w-container-width w-full mx-auto flex-center justify-start flex-col;
  }

  .primary-heading {
    @apply text-[clamp(20px,7.907vw,70px)] font-bold tracking-[-2.8px] max-m:tracking-[-1.36px];
  }

  .secondary-heading {
    @apply text-[clamp(16px,5.117vw,30px)] font-bold tracking-[-0.9px] max-m:tracking-[-0.44px];
  }

  .title-text {
    @apply text-[clamp(14px,4.652vw,22px)] text-text-color font-bold tracking-[-0.44px] max-md:tracking-[-0.4px];
  }

  .small-text {
    @apply text-[clamp(12px,3.721vw,20px)] font-extralight tracking-[-0.4px] max-md:tracking-normal;
  }
}

.show ~ .hide {
  @apply md:hidden;
}

.hide .hide {
  @apply max-md:hidden;
}

/* div:has(input:focus) {
  outline: var(--primary-color);
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* LESS THAN 934PX SCREENS */
@media (max-width: 58.375em) {
  .secondary-heading {
    /* font-size: 24px; */
  }
}

/* LESS THAN 508PX SCREENS */
@media (max-width: 31.75em) {
}

/* LESS THAN 444PX SCREENS */
@media (max-width: 27.75em) {
  .secondary-heading {
    /* font-weight: 400;
    font-size: 16px; */
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
